<?xml version='1.0' encoding='utf-8'?>

<plugin id="io.subscription.cordova" version="0.01"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Subscription Pay</name>
    <description>A cordova plugin for subscription purchases</description>
    <js-module name="SubscriptionPay" src="www/SubscriptionPay.js">

        <clobbers target="cordova.plugins.SubscriptionPay" />

    </js-module>

    <platform name="android">
	<js-module name="SubscriptionPayV1" src="www/index-android.js">
	<merges target="subscriptionPay"/>
	</js-module>
	<config-file target="AndroidManifest.xml" parent="/manifest">
	<uses-permission android:name="com.android.vending.BILLING"/>
	</config-file>
	<config-file target="res/xml/config.xml" parent="/*">
	<feature name="SubscriptionPayV1">
		<param name="android-package" value="io.subscription.cordova.SubscriptionPayV1"/>
	</feature>
    </config-file>
	<source-file src="src/android/SubscriptionPayV1" target-dir="src/io/subscription/cordova"/>
</platform>
</plugin>
